# Database Configuration
DB_URL=jdbc:postgresql://localhost:5432/urna_eletronica
DB_USERNAME=seu_usuario_aqui
DB_PASSWORD=sua_senha_aqui

# TSE Configuration
TSE_SENHA=sua_senha_tse_aqui

# Server Configuration
SERVER_PORT=8080